{% extends "layouts/header.html" %}
{% block content %}
	<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
	    <!-- End Navbar -->
	    <div class="container-fluid py-4">
	        <div class="row">
	            <div class="col-12">
	                <div class="card my-4">
	                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
	                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
	                            <h6 class="text-white text-capitalize ps-3">Fighter Detail Page</h6>
	                        </div>
	                    </div>
	                    <div class="card-body px-0 pb-2">
	                        <div class="table-responsive p-0">
	                            <table class="table align-items-center mb-1">
	                                <tbody>
	                                    <tr>
	                                    	<td>
	                                    		Full Name
	                                    	</td>
	                                    	<td>
	                                    		Zoro
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Unique Number
	                                    	</td>
	                                    	<td>
	                                    		A12 B123 C1234
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Email
	                                    	</td>
	                                    	<td>
	                                    		john@yopmail.com
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Illness
	                                    	</td>
	                                    	<td>
	                                    		Family History
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Occupation
	                                    	</td>
	                                    	<td>
	                                    		Engineer
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Address
	                                    	</td>
	                                    	<td>
	                                    		Kaiserslautern, Germany
	                                    	</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-12">
	                <div class="card my-4">
	                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
	                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
	                            <h6 class="text-white text-capitalize ps-3">Event Details</h6>
	                        </div>
	                    </div>
	                    <div class="card-body px-0 pb-2">
	                        <div class="table-responsive p-0">
	                            <table class="table align-items-center mb-1">
	                                <tbody>
	                                    <tr>
	                                    	<td>
	                                    		Event Name
	                                    	</td>
	                                    	<td>
	                                    		Artist Name
	                                    	</td>
	                                    	<td>
	                                    		Date
	                                    	</td>
	                                    	<td>
	                                    		Status
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Music Concert
	                                    	</td>
	                                    	<td>
	                                    		Zoro
	                                    	</td>
	                                    	<td>
	                                    		27 Oct 2022
	                                    	</td>
	                                    	<td>
	                                    		<a class="btn btn-success">Finished</a>
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Stand Up Comedy
	                                    	</td>
	                                    	<td>
	                                    		Mickey
	                                    	</td>
	                                    	<td>
	                                    		01 Nov 2022
	                                    	</td>
	                                    	<td>
	                                    		<a class="btn btn-secondary">Not Finished</a>
	                                    	</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-12">
	                <div class="card my-4">
	                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
	                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
	                            <h6 class="text-white text-capitalize ps-3">Interacted Students</h6>
	                        </div>
	                    </div>
	                    <div class="card-body px-0 pb-2">
	                        <div class="table-responsive p-0">
	                            <table class="table align-items-center mb-1">
	                                <tbody>
	                                    <tr>
	                                    	<td>
	                                    		Student Name
	                                    	</td>
	                                    	<td>
	                                    		Date
	                                    	</td>
	                                    	<td>
	                                    		Status
	                                    	</td>
	                                    	<td>
	                                    		Rating
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Zoro
	                                    	</td>
	                                    	<td>
	                                    		27 Oct 2022
	                                    	</td>
	                                    	<td>
	                                    		<a class="btn btn-success">Finished</a>
	                                    	</td>
	                                    	<td>
	                                    		<b>4</b> out of <b>5</b>
	                                    	</td>
	                                    </tr>
	                                    <tr>
	                                    	<td>
	                                    		Monkey D. Luffy
	                                    	</td>
	                                    	<td>
	                                    		7 Nov 2022
	                                    	</td>
	                                    	<td>
	                                    		<a class="btn btn-secondary">Not Finished</a>
	                                    	</td>
	                                    	<td>
	                                    		<b> - </b>
	                                    	</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <footer class="footer py-4" style="bottom: 0;">
	        <div class="container-fluid">
	            <div class="row align-items-center justify-content-lg-between">
	                <div class="col-lg-12 col-sm-12 col-md-12 ">
	                    <div class="copyright text-center text-sm text-muted text-lg-start">
	                        © <script>
	                            document.write(new Date().getFullYear())
	                        </script>,
	                        made witd <i class="fa fa-heart"></i> by
	                        <a href="{% url 'index' %}" class="font-weight-bold" target="_blank">D'Cure</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </footer>
    </div>
</main>
{% endblock %}